@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("StoreId")
            </th>
            <th>
                @Html.DisplayName("ProductName")
            </th>
            <th>
                @Html.DisplayName("ProductDescription")
            </th>
            <th>
                @Html.DisplayName("BuyPrice")
            </th>
            <th>
                @Html.DisplayName("SellPrice")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("ImageFile")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) 
{
        <tr>
            <td>@row["Id"]</td>
            <td>@row["StoreId"]</td>
            <td>@row["ProductName"]</td>
            <td>@row["ProductDescription"]</td>
            <td>@row["BuyPrice"]</td>
            <td>@row["SellPrice"]</td>
            <td>@row["Quantity"]</td>
            <td>@row["ImageFile"]</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
